body,html{
    max-width: 100%;
    overflow-x: hidden;
  }


.navbar{
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header-link{
    color: aliceblue;
}
.card-home{
    
}
.div-home{
    padding: 50px;
    margin: 50px;
   
}
.product-wrapper{
    height: 600px;
    width: 400px;
    
    
}
.buynow{
    background: black;
    border: black;
}

.logo{
    height: 60px;
    width: auto;
    
}

.footer-heading{
    color: white;
}